.footer {
  margin-top: 2rem;
  background: black;
  z-index: -1;
  width: 100%;
  height: 230px;
}

.footer img {
  padding-top: 4.5rem;
  width: 150px;
  height: 50px;
}
.titre_footer{
    font-family: monospace;
    text-align: center;
    color: white;

} 